body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    background-color: #222;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-link {
    color: "white"
}

.nav-link:hover {
    color: yellow
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.panel {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    margin-top: 60px; /* Navbar yüksekliği kadar bir boşluk bırak */
}

.link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #777;
}

.site-info {
    margin-top: 20px;
}

.site-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.site-description {
    font-size: 14px;
}

.lang {
    background-color: #ff0800;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}